.custom-textup{
    position: absolute;
    width: 100%;
    color: white;
}

.custom-textdown{
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;

}

.col-md-3{
    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
    margin-bottom: 50px;
}


#neck{
    height: 100px;
}

#back_button{
    margin-top: 10px;
}